@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Source+Sans+Pro&display=swap');

body {
  background-color: #e2e2e2;
  box-sizing: border-box;
}

header {
  padding: 2% 0% 0% 20%;
  background-color: #76777c;
}

.cabecalio {
  display: flex;
  gap: 50px;
}

.link {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 3rem;
  color: #cfabcd;
}

.corpo {}

.img {
  width: 20%;
  margin: auto;
  display: block;
}

.accordion {
  flex-direction: column;
  text-align: center;
}

.question {
  font-family: 'Merriweather', sans-serif;
  font-size: 1.7rem;
}

.answer {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.4rem;
  padding: 0% 10% 0% 10%;
}

.rodape {
  background-color: #76777c;
  box-sizing: border-box;
}

.rodape-img {
  padding: 20px;
  text-decoration: none;
  color: #cfabcd;
}