@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Source+Sans+Pro&display=swap');

body {
  background-color: #e2e2e2;
  box-sizing: border-box;
}

header {
  padding: 2% 0% 0% 20%;
  background-color: #76777c;
}

.cabecalio {
  display: flex;
  gap: 50px;
}

.link {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 3rem;
  color: #cfabcd;
}

.corpo {}

.img {
  width: 20%;
  margin: auto;
  display: block;
}

.accordion {
  display: block;
  width: auto;
  margin: 10px 0;
}

.question {
  display: flex;
  background: rgb(210, 102, 148);
  background: radial-gradient(circle, rgba(148, 187, 233, 1) 0%, rgba(210, 102, 148, 1) 100%);
  color: #000;
  border-radius: 8px;
  padding: 5px;
  cursor: pointer;
  font-weight: 500;
  font-family: 'Merriweather', sans-serif;
  font-size: 1.5rem;
  justify-content: flex-start;
  align-items: center;
}

.question::-webkit-details-marker {
  display: none;
}

.question::before {
  content: "+";
  font-size: 30px;
  font-weight: bold;
  margin: 0 5px;
  padding: 0;
  width: 3%;
  text-align: center;
}

.accordion[open] .question::before {
  content: "-";
}

.answer {
  background: rgb(234, 228, 230);
  background: radial-gradient(circle, rgba(148, 187, 233, 1) 0%, rgba(234, 228, 230, 1) 100%);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.4rem;
  padding: 0% 10% 0% 3%;
}

.rodape {
  display: flex;
  background-color: #76777c;
  justify-content: end;
}

.rodape-img {
  padding: 20px;
  text-decoration: none;
  color: #cfabcd;
}